In [1]:
from sqlalchemy import create_engine
import pandas as pd

DB_USER = 'emily_park'
DB_PASSWORD = 'Emilypark321#!'

dw_url = 'bun-dw.chlb9dm0sjmd.ap-northeast-2.redshift.amazonaws.com:5439'
dw_url = f'postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{dw_url}/bunjang'
BUN_DW = create_engine(dw_url, encoding='utf-8')

In [5]:
q = '''
select *
from service1_quicket.product_info
where left(category_id, 3) in ('310') and create_date > dateadd(year, -1, getdate()) and status = 0
'''
pd.read_sql(q, con=BUN_DW)

,id,uid,status,create_date,name,keyword,price,flag_used,flag_taekpo,flag_exchg,...,udid,ip_addr,device,qty,image_source,image_count,m_time,latest_updated_at,modified_at,s3_storage
0,125818368,7431630,0,2020-05-31 13:28:46.175,여성 검정 바지,"일자바지,슬렉스,기모,겨울바지,여자바지",12000,13,0,0,...,540d1c26a31f5ba5,118.219.230.39,a,1,1.0,3,1590899326,2020-05-31 13:28:46.175,2020-05-31 13:28:46.175,1
1,125859328,7914000,0,2020-05-31 23:17:51.879,옷팔아요!!,"여성의류,블라우스,이쁨,여름옷",6000,13,0,0,...,FE2BB2109289451480763AA46477093F,125.182.95.118,i,1,1.0,1,1590934700,2020-05-31 23:18:20.770,2020-05-31 23:18:20.770,1
2,125892096,10245731,0,2020-06-01 13:46:19.218,수입) 썸머 바캉스룩 셋트,"미디엄사이즈,55,수입원피스,수입소품",50000,13,0,0,...,7643029CB6D242A9925BCAE625D45C93,58.227.6.221,i,1,1.0,8,1597313590,2020-08-13 19:13:10.946,2020-08-13 19:13:10.946,1
3,125899776,10828949,0,2020-06-01 15:25:26.709,밀레 여성 반집업 티셔츠(100사이즈),밀레,12000,13,0,0,...,None,124.57.61.79,w,1,1.0,5,1596235044,2020-08-01 07:37:24.766,2020-08-01 07:37:24.766,1
4,125998976,3250397,0,2020-06-02 19:09:35.283,4부반바지,"4부반바지,밴딩반바지,여름바지,여자바지,편한바지",20000,2,0,0,...,e5d646f560a87666,118.235.41.144,a,1,1.0,6,1591093969,2020-06-02 19:32:49.634,2020-06-02 19:32:49.634,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1411798,155473923,9258190,0,2021-05-30 16:05:52.798,베이지색 코트 / 코디추천!! 상세샷 확인해주세요,"66,코트,베이지코트,울코트",30000,13,0,0,...,50fc48cbd689b647,115.20.201.13,a,1,1.0,5,1622408068,2021-05-31 05:54:28.363,2021-05-31 05:54:28.363,1
1411799,155522667,76536079,0,2021-05-31 05:02:12.591,샤땡 박스티(블랙),"샤넬레플리카티셔츠,박스티루즈핏티셔츠,박스티88",15000,2,0,0,...,0DA2BCB55420466C99DC8546E02C4F41,110.10.43.253,i,1,1.0,1,1622404932,2021-05-31 05:02:12.591,2021-05-31 05:02:12.591,1
1411800,155522851,76680293,0,2021-05-31 05:31:03.809,에이블리 부츠컷 컷팅 스키니 데님팬츠 청바지,"s,에이블리",12000,2,1,0,...,2A02487046AD4839A4BED23F4B7DAA48,222.108.240.130,i,1,1.0,1,1622406980,2021-05-31 05:36:20.221,2021-05-31 05:36:20.221,1
1411801,155522878,12838445,0,2021-05-31 05:34:45.605,(새제품) 고퀄 7부 맨투맨 티셔츠 반팔티 오버핏 면100 44-77,"반팔맨투맨,오버핏반팔,반팔티셔츠,반팔티,반팔티셔츠추천",26000,13,1,0,...,12BDD77293BD4D46BE6350C835F06BD3,118.33.246.65,i,1,1.0,5,1622406885,2021-05-31 05:34:45.605,2021-05-31 05:34:45.605,1
1411802,155523000,13148567,0,2021-05-31 05:49:15.524,후아유 후드집업,"사이즈,m",10000,13,0,0,...,9F825716DFDA4190B779734CAFB08550,110.15.50.245,i,1,1.0,1,1622407788,2021-05-31 05:49:48.686,2021-05-31 05:49:48.686,1

In [2]:
QUERY = '''
    SELECT name
    FROM service1_quicket.product_info
    WHERE LEFT(category_id, {}) IN ({})
    AND create_date > dateadd(year, -1, getdate())
    AND status = 0
    '''

In [5]:
categories = ['310', '320', '400']
categories = ','.join('\'' + str(c) + '\'' for c in categories)

In [7]:
print(QUERY.format(3, categories))

    SELECT name
    FROM service1_quicket.product_info
    WHERE LEFT(category_id, 3) IN ('310','320','400')
    AND create_date > dateadd(year, -1, getdate())
    AND status = 0

In [14]:
data = pd.DataFrame()
df = pd.DataFrame.from_dict({
    'id': [1, 2], 'name': ['apple', 'banana']
})

In [20]:
a = pd.concat([data, df])

In [21]:
a['bid'] = 1

In [22]:
a

   id    name  bid
0   1   apple    1
1   2  banana    1

In [16]:
categories = ['310', '320', '400']
'OR'.join(c for c in categories)

'310OR320OR400'

In [17]:
' OR '.join(c for c in categories)

'310 OR 320 OR 400'

In [18]:
names = ['abc', 'de', 'f']
like = ' OR '.join(f'name like \'%%{str(name)}%%\'' for name in names)

In [19]:
like

"name like '%%abc%%' OR name like '%%de%%' OR name like '%%f%%'"

In [24]:
from dataclasses import dataclass
from typing import List


@dataclass
class Product:
    brand_id: int
    brands: List[str]
    text: str
    nfd_spans: List[List[int]]
    spans: List[List[int]]


@dataclass
class Brand:
    brand_id: int
    name_kor: str
    name_eng: str
    synonyms: List[str]
    models: List[str]
    categories: List[str]


@dataclass
class BrandDB:
    id: int
    name_kor: str
    name_eng: str
    is_active: int
    # used_for_rec: int
    # used_for_follow: int


@dataclass
class BrandDict:
    brand_id: int
    synonyms: List[str]
    models: List[str]
    categories: List[str]

In [28]:
import ndjson
from typing import List


def load_data() -> List[Product]:
    file_path = './product_brand_164_ner_data.ndjson'
    json_data = _load_json_file(file_path)

    products: List[Product] = []

    for product in json_data:
        product_info = Product(
            brand_id=int(product.get('brand_id', 0)),
            brands=product.get('brands', ['']),
            text=product.get('text', ''),
            nfd_spans=product.get('nfd_spans', []),
            spans=product.get('spans', [])
        )
        products.append(product_info)

    return products


def _load_json_file(file_path: str):
    with open(file_path, 'r', encoding='utf8') as f:
        json_data = ndjson.load(f)
    return json_data

In [30]:
file_path = './product_brand_164_ner_data.ndjson'
json_data = _load_json_file(file_path)

In [31]:
products: List[Product] = []

for product in json_data:
    product_info = Product(
        brand_id=int(product.get('brand_id', 0)),
        brands=product.get('brands', ['']),
        text=product.get('text', ''),
        nfd_spans=product.get('nfd_spans', []),
        spans=product.get('spans', [])
    )
    products.append(product_info)